<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kebab Höhle Bonusprogramm</title>
    <link rel="stylesheet" href="/static/style.css">
    
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <meta name="theme-color" content="#ff2b2b">


</head>

<body>

<div class="register-page">

    

    <div class="register-card">

        <div class="logo">KEBAB HÖHLE</div>
        <div class="subtitle">Bonusprogramm</div>

        <form method="POST">

            <label>Vorname</label>
            <input type="text" name="vorname" required>

            <label>Nachname</label>
            <input type="text" name="nachname" required>

            <label>Geburtsdatum</label>
            <input type="date" name="geburtsdatum" required>

            <label>Telefonnummer (optional)</label>
            <input type="text" name="telefon">

            <label>Adresse (optional)</label>
            <input type="text" name="adresse">
            <label>Passwort</label>
            <input type="password" name="passwort" minlength="4" required>
            
            <label>Passwort wiederholen</label>
            <input type="password" name="passwort2" minlength="4" required>
                        
                        <label class="checkbox-row">
                <input type="checkbox" name="datenschutz" required>
                <span>
                    Ich habe die
                    <a href="/datenschutz" target="_blank" class="privacy-link">
                        Datenschutzerklärung
                    </a>
                    gelesen.
                </span>
            </label>

            <label class="checkbox-row">
                <input type="checkbox" name="angebote">
                <span>Ich möchte Informationen zu Angeboten und Aktionen erhalten.</span>
            </label>

            <button type="submit">Registrieren</button>

        </form>

    </div>

</div>
<script>
(function () {
    const gespeicherterModus = localStorage.getItem("farbmodus") || "dunkel";
    document.documentElement.setAttribute("data-theme", gespeicherterModus);
})();
</script>

</body>
</html>
